<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26512584584-r0u7chrinm3ga9pkrra6r52cec03cr3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26512584584-r0u7chrinm3ga9pkrra6r52cec03cr3e</string>
	<key>API_KEY</key>
	<string>AIzaSyDEnnduKqFICR7yHjaV4y_EwZmrywdO8Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>26512584584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pangsky.gloapple</string>
	<key>PROJECT_ID</key>
	<string>gyelyeong-511d0</string>
	<key>STORAGE_BUCKET</key>
	<string>gyelyeong-511d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26512584584:ios:921706d9e290476025543d</string>
</dict>
</plist>